*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


*.iml
*.bat
*.apk
# app用到zip的请忽略
*.zip
# 自定义了local.properties的请删除这条
*.properties
/captures
~$*
gradlew
.DS_Store
.idea
.gradle
# 自定义了根目录gradle/gradle-wrapper.properties的请删除这条（不推荐自定义）
gradle
build
